body {
    background-color: rgb(202, 201, 201);
}

h1 {
    color: rgba(255, 255, 255, 1);
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 90px;
    position: relative;
    top: 30px;
    left: 70px;
}

.background-image {
    width: 800px;
    height: 350px;
    position: fixed;
}

.muffin-image {
    position: absolute;
    height: 350px;
    width: auto;
    transform: rotate(35deg);
    top: -100px;
    left: 500px;
    animation: neonColors 3s infinite alternate;
}

a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 30px;
    position: relative;
    left: 20px;
    transition: color 0.3s ease;
}

a:hover {
    color: #BB906D;
}

.link-about {
    position: relative;
    left: 870px;
}

.link-history {
    position: relative;
    left: 270px;
}

.link-rotate {
    transform: rotate(90deg);
    display: inline-block;
    position: relative;
    top: 250px;
    left: 450px;
    white-space: nowrap;
}
@keyframes neonColors {
    0% {
        filter: hue-rotate(2deg) saturate(5);
    }
    25% {
        filter: hue-rotate(13deg) saturate(0.3) brightness(1.9);
    }
    50% {
        filter: hue-rotate(239deg) saturate(13.2) brightness(1.1);
    }
    75% {
        filter: hue-rotate(1460deg) saturate(3.5) brightness(10.3);
    }
    100% {
        filter: hue-rotate(29deg) saturate(21);
    }
}
